[submodule "third-party/tensorflow"]
	path = third-party/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/ubpf"]
	path = third-party/ubpf
	url = ../wd-nvme-ubpf.git
[submodule "third-party/buildroot"]
	path = third-party/buildroot
	url = ../wd-nvme-buildroot.git
